:root {
  --primaryColor: #9C07B6;
  --secondaryColor: #F9B000;
  --regular: 400;
  --lightBg: #F1F1F1;
}
a {
  color: inherit;
}
a, .btn {
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
  text-decoration: none;
}
.lightBg {
  background-color: var(--lightBg);
}
.mdTitle {
  font-size: 28px;
  line-height: normal;
  font-weight: 100;
  font-family: var(--titleFont)
}
.smTitle {
  font-size: 22px;
  line-height: normal;
  font-weight: var(--regular);
  font-family: var(--titleFont)
}
 .smText {
  font-size: 22px;
}
.regular {
  font-weight: var(--regular);
}
.sectionSpace{
  display: flex;
  
  flex-direction: row;
  margin: auto;
}
.sectionSpace {
  padding: 80px 0;
}
.sectionSpaceSm {
  padding: 35px 0;
} 
.ksText {
	display: block;
	padding-top: 10px;
}
.keySkillCard + .keySkillCard {
  padding-top: 25px;
}
.keySkillCol {
  width: 300px;
}
.pLbl {
  display: block;
  width: 50px;
  text-align: right;
}

.progress.progressStyle {
	height: 8px;
	padding: 1px;
	background-color: var(--secondaryColor);
	border-radius: 3px;
}
.progressStyle .progress-bar {
	background-color: #fff;
	border-radius: 3px;
}
.progressCol + .progressCol {
	padding-top: 18px;
}

.cardOptionCol > li {
	display: inline-block;
	vertical-align: middle;
  position: relative;
}
.cardOptionCol > li + li {
  padding-left: 40px;
}
.cardOptionCol > li + li::before {
  content: "|";
  position: absolute;
  left: 16px;
}
.cardOptionCol {
	padding: 5px 0 10px;
}
.cardStyle1 {
	padding: 25px;
	background-color: var(--bs-white);
	border-radius: 4px;
  height: 100%;
}
.cardStyle1 > p:last-child {
	margin-bottom: 0;
}
.cs1Title {
  min-height: 90px;
}
.cardStyle1{
  background-color: white;
}
.sliderOuter {
  position: relative;

}

.sliderOuter .swiper-button-next.swiperBtnStyle {
  right: -50px;
}
.sliderOuter .swiper-button-prev.swiperBtnStyle {
  left: -50px;
}
.sliderOuter .swiper-slide {
  height: auto;
}
.swiperPaginationStyle span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--primaryColor);
}
.posInitial {
  position: initial;
}.swiperBtnStyle {
	width: 35px;
	height: 35px;
	color: #fff;
	background-color: var(--primaryColor);
	border-radius: 50%;
}

.swiper-button-next.swiperBtnStyle::after, .swiper-button-prev.swiperBtnStyle::after {
  font-size: 16px;
}
.swiperBtnStyle.swiper-button-prev {
	left: 2px;
}
.swiperBtnStyle.swiper-button-next {
	right: 2px;
}
.testimonialSlider .swiper-slide {
  padding: 0 40px;
}

.dark-mode .lightBg
{
  background-color: #1f1f29;
  color: #ffffff;
}
@media (min-width:576px) {
  .swiper-pagination {
    display: none;
  }
}
@media (min-width:992px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  	max-width: 890px;
  }
  .headerCol .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
} 
@media (min-width:1200px) {
  .headerCol .container-fluid {
    padding-left: 55px;
    padding-right: 55px;
  } 
}

@media (max-width:1199px) {
  .mdTitle {
  	font-size: 24px;
  }
  .cs1Title {
  	min-height: 60px;
  }
  .sectionSpace {
  	padding: 60px 0;
  }
}

@media (max-width:991px) {
  .sliderOuter .swiper-button-next.swiperBtnStyle {
    right: -20px;
  }
  .sliderOuter .swiper-button-prev.swiperBtnStyle {
    left: -20px;
  }
  
  body {
    font-size: 14px;
  }
  .smTitle {
  	font-size: 18px;
  } 
  .keySkillCard + .keySkillCard {
  	padding-top: 20px;
  }
  .keySkillCol {
  	width: 250px;
  }
  .cs1Title {
  	min-height: auto;
  }

 
}

@media (max-width:767px) {
  .flip-card img{
    margin-right: 15px;
  }
  .mdTitle {
  	font-size: 22px;
  }
  .smText {
  	font-size: 18px;
  }
  .sectionSpace {
  	padding: 50px 0;
    flex-direction: column;
  }
 .profiles{
    flex-direction: column;
    display: flex;
  } 
  
.link-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  
}
} 

@media(max-width:575px) {

  .sliderOuter .swiper-button-prev.swiperBtnStyle ,
  .sliderOuter .swiper-button-next.swiperBtnStyle {
    display: none;
  }

  .swiper-slide {
  	padding: 0 0px 50px;
  }
  .swiperBtnStyle.swiper-button-next {
  	right: auto;
  	top: auto;
  	bottom: 0;
  	left: 50%;
  	margin-left: 5px;
  }
  .swiperBtnStyle.swiper-button-prev {
  	left: auto;
  	top: auto;
  	bottom: 0;
  	right: 50%;
  	margin-right: 5px;
  }
  .sectionSpace {
  	padding: 40px 0;
  }
  .cardStyle1 {
  	padding: 15px;
  }
  .mdTitle {
  	font-size: 20px;
  }
  .swiperBtnStyle {
  	width: 30px;
  	height: 30px;
  }
  .swiper-button-next.swiperBtnStyle::after, .swiper-button-prev.swiperBtnStyle::after {
  	font-size: 14px;
  }

}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

/* circular flip cards */
.container .flip-card {
  background-color: transparent;
  width: 120px;
  height: 110px;
  perspective: 1000px;
  margin: auto;
  flex: 1 1 100px;
}

.flip-card-inner {
  
  position: relative;
  width: 100%;
  height: 110%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;

}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 110%;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}

.flip-card-front {
  color: black;
}
.flip-card img{
  width: 120px;
  height: 110px;
  border-radius: 50%;
}
.flip-card-front img{
  width: 120px;
  height: 110px;
  border-radius: 50%;
}
.flip-card-front img{
  padding: 5px;
}

.flip-card-back {
  width: 120px;
  height: 110px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dedfef;
  transform: rotateY(180deg);
  
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  font-family: 'Heebo', sans-serif;
  border: 1px solid var(--primaryDarkColor);
	color: var(--primaryDarkColor);
}


.page-about .img-place {
  width: 280px;
  height: 350px;
  background-color: #dfe0e6;
  overflow: unset;
}

.page-about .img-place::before {
  content: "";
  position: absolute;
  top: -20px;
  right: -35px;
  width: 100%;
  height: 100%;
  border: 5px solid #747474;
  z-index: -1;
}
.vg-page {
  position: relative;
  display: block;
  padding: 80px 0;
  width: 100%;
  overflow: hidden;
}
.img-place {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;height: 100%;
  overflow: hidden;
  z-index: 10;
}

.img-place > img {
  width: 100%;height: auto;
}

.fw-normal {
  font-weight: 400;
}

.filterable-button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 400px;
}
.badge-subhead {
  margin-bottom: 8px;
  padding: 10px 30px;
  background-color: rgba(116, 116, 116, 0.15);
  color: #747474;
  font-size: 14px;
  border-radius: 40px;
}
.theme-red .badge-subhead {
  background-color: rgba(239, 56, 36, 0.15);
  color: #EF3724;
}
.theme-purple .badge-subhead  {
  background-color: rgba(110, 66, 193, 0.15);
  color: #6f42c1;
}
.theme-red .filterable-button .btn.selected,
.theme-red .filterable-button .btn:focus {
  background-color: #EF3724;
  color: #fff;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #EF3724;
}
.filterable-button .btn.selected,
.filterable-button .btn:focus {
  background-color: #747474;
  color: #fff;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #747474;
}
.filterable-button .btn {
  padding: 5px 16px;
  margin: 6px;
  font-size: 14px;
  border-radius: 40px;
  background-color: transparent;
  color: #747474;
  box-shadow: 0 0 0 2px #747474;
  font-weight: bold;
}
.btn-theme-outline {
  padding: 10px 30px;
  margin: 5px;
  height: unset;
  background-color: transparent;
  color: #747474;
  border: 0;
  font-weight: 500;
  box-shadow: 0 0 0 2px #747474;
}

.btn-theme-outline:hover {
  background-color: #747474;
  color: #fff;
}

.btn-theme-outline:focus {
  background-color: #747474;
  color: #fff;
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #747474;
}

.gridder {
  position: relative;
  display: block;
}

.grid-item {
  display: block;
  float: left;
  margin: 16px 0;
  padding: 0 16px;
}

.grid-item,
.grid-sizer {
  width: 100%;
}

.grid-item img {
  width: 100%;
  height: 100%;
}

.grid-item .img-place {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 350px;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}

.grid-item .img-caption {
  position: absolute;
  bottom: 0;
  padding: 12px 16px;
  width: 100%;
  background-color: #323131;
  color: #fff;
  z-index: 11;
}

.grid-item .img-caption p {
  font-size: 14px;
  margin-bottom: 0;
}

.grid-item .img-caption p::before {
  content: "\2014";
  margin-right: 5px;
}

@media (min-width: 768px) {
  .gridder .grid-item,
  .gridder .grid-sizer {
      width: 50%;
  }
}

@media (min-width: 992px) {
  .gridder .grid-item,
  .gridder .grid-sizer {
      width: 33.33333%;
  }
}
.theme-red .fg-theme {
  color: #EF3724 !important;
}
